<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.locationiosnew8.Dfencing"
    version="1">

    <name>Geo Fencing Plugin</name>
 

  <description>
    Get location of the user on background mode
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>
    <asset src="www/DGGeofencing.js" target="DGGeofencing.js" />

    
    <!-- ios -->
    <platform name="ios">
        <plugins-plist key="DGGeofencing"
                    string="DGGeofencing" />

        <header-file src="src/ios/DGGeofencing/DGGeofencing.h" />
        <header-file src="src/ios/DGGeofencing/DGGeofencingHelper.h" />

        <source-file src="src/ios/DGGeofencing/DGGeofencing.m" />
        <source-file src="src/ios/DGGeofencing/DGGeofencingHelper.m" />
    </platform>
</plugin>
